name: Push Vellum Workflows

on:
  push:
    branches:
      - main
    paths:
      - "vellum/**"
      - "!vellum/evals/**"
      - ".github/workflows/push-vellum-workflows.yaml"
      - "scripts/push-vellum-workflows.ts"
  pull_request:
    paths:
      - "vellum/**"
      - "!vellum/evals/**"
      - ".github/workflows/push-vellum-workflows.yaml"
      - "scripts/push-vellum-workflows.ts"
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

permissions:
  contents: write
  pull-requests: write

jobs:
  preview-workflows:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    env:
      GITHUB_PRIVATE_KEY: ${{ secrets.VARGASJR_GITHUB_PRIVATE_KEY }}
      VELLUM_API_KEY: ${{ secrets.VELLUM_API_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Install Node.js dependencies
        run: npm run setup

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Bootstrap poetry
        run: curl -sSL https://install.python-poetry.org | python - -y --version 1.8.3

      - name: Install dependencies
        run: poetry install
        working-directory: vellum

      - name: Run mypy type checking
        run: poetry run mypy .
        working-directory: vellum

      - name: Preview workflows
        run: npm run push-vellum-workflows
  push-workflows:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    env:
      GITHUB_PRIVATE_KEY: ${{ secrets.VARGASJR_GITHUB_PRIVATE_KEY }}
      VELLUM_API_KEY: ${{ secrets.VELLUM_API_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Install Node.js dependencies
        run: npm run setup

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Bootstrap poetry
        run: curl -sSL https://install.python-poetry.org | python - -y --version 1.8.3

      - name: Install dependencies
        run: poetry install
        working-directory: vellum

      - name: Run mypy type checking
        run: poetry run mypy .
        working-directory: vellum

      - name: Push workflows to Vellum
        run: npm run push-vellum-workflows
